/* IMPORT FONTS
===================================================*/

/* ===
Write two "@import" statements below to add the "Roboto" and "Hepta Slab" fonts from Google fonts. The first one is included below to help get you started.
=== */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

.text-dkblue{
    font-family: 'signika', sans-serif;
    color:mediumpurple;
}

.bg-blue{
    background-color: #78C3FB
}

.text {
  font-family: 'signika', sans-serif;
}

@font-face {
  font-family: signika;
  src: url(../signika/Signika-VariableFont_wght.ttf)
}

