{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" style="padding-top: 0px; height: 100%;">
    <div class="row flex-xl-nowrap text" style="height: 100%">
        <div class="col-md-3 col-xl-2 bd-sidebar" style="border-right-color: black;
            border-right-width: 1px; border-right-style: solid; height: 100%">
            <img src="../static/defualtpp.png" style="width:85%;">
            <h1 style="padding-top: 10px; color: mediumpurple">{{ current_user.username }}</h1>
            <h3 style="color: mediumpurple; cursor: pointer" onclick="setWindowInstruments()" id="insBtn">Instruments</h3>
            <h3 style="color: gray; cursor: pointer" onclick="" id="profBtn">Profile</h3>
            <h3 style="color: gray; cursor: pointer" onclick="" id="setBtn">Settings</h3>
            <h3 style="color: gray; cursor: pointer" onclick="" id="othBtn">Other</h3>

        </div>
        <div class="col"  style="width: 100%; min-width: 100%;">
            <div class="container" style="width: 100%; min-width: 100%;">
                <div class="row" style="border-bottom-style: solid; border-bottom-width: 1px; width: 100%;
                    display: flex; justify-content: space-between">
                    <h1 class="text-color">Instruments</h1>
                    <a href="setInstruments" style="color: #147efb; align-self: center; margin-right: 500px; font-size: 20px">Add</a>
                </div>
                {% for instrument in current_user.instruments %}
                    <div class="row" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray">
                        <div class="col" style="font-size: 30px">
                            {{ instrument.label }}
                        </div>
                        <div class="col" style="font-size: 25px">
                            {% if instrument.defaultGoalInMinutes%60 > 9 %}
                                Goal: {{ instrument.defaultGoalInMinutes//60 }}:{{ instrument.defaultGoalInMinutes%60 }}
                            {% else %}
                                Goal: {{ instrument.defaultGoalInMinutes//60 }}:0{{ instrument.defaultGoalInMinutes%60 }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <script>
        let window = "instruments";
        function setWindowInstruments(){
             window = "instruments";
             document.getElementById("insBtn").style.backgroundColor = "mediumpurple"
        }
        function setWindowProfile(){
            window = "profile";
        }
        function setWindowSettings(){
            window = "settings";
        }
        function setWindowOther(){
            window = "other";
        }
    </script>
{% endblock %}