 {% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">
            <h1>{{ current_user.username }}</h1>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 style="display:inline;">Instruments</h3>
                        <p><a href="/setInstruments">Edit</a></p>
                    </div>
                    <div class="col">
                        <h4 style="display:inline;">Goals</h4>
                        <p><a href="/defaultGoals">Edit</a></p>
                    </div>
                </div>
                {% for instrument in current_user.instruments %}
                    <div class="row">
                        <div class="col">
                            {{ instrument.label }}
                        </div>
                        <div class="col">
                            {{ instrument.defaultGoalInMinutes//60 }}:{{ instrument.defaultGoalInMinutes%60 }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}