{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-center text-dkblue">
        <h1 class="shad-text">Welcome To The Page</h1>
    </div>
    <div class="container-fluid">
          <center><img class="shad-box" src="/static/mainpic.png" style="margin:50px 0px"  alt="First slide" ></center>
</div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <center>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/practice.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Quick, easy to use UI! Just a couple steps to get started now, for FREE!</p>
            </div>
        </div>
                </center>
        </div>
        <div class="col-6">
            <center>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/practice2.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Better your practice habbits and track your progress all through the site!</p>
            </div>
        </div>
                </center>


        </div>






    </div>




    </div>









{% endblock %}