{% extends "base.html" %}
{% block content %}
    <h1 class="text text-color" style="padding-left: 15px; padding-top: 10px">{{ day }}</h1>
    <p class="text" style="display: flex; font-size: 25px; justify-self: center; justify-content: center; text-align: center">Select an instrument to practice</p>
    <div class="container">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Instrument
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for instrument in instruments %}
              <a class="dropdown-item" href="/practice/{{ instrument.label }}">{{ instrument.label }}</a>
            {% endfor %}
      </div>
    </div>
    </div>
{% endblock %}